body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden; 
}

#initial-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0; 
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px; 
}

#error-text, #joke-text {
    font-size: 2em;
    color: #333;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    margin-right: 30px; 
}
#joke-text {
    opacity: 0; 
    position: absolute; 
}

#content {
    opacity: 0; 
    transition: opacity 1s ease-in-out;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header {
    margin-bottom: 30px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2.2em;
}

.job-title {
    font-size: 1.2em;
    color: #777;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.6em;
    margin-bottom: 15px;
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

p {
    line-height: 1.6;
}

.hidden {
    display: none;
}


@media (max-width: 768px) {
    #initial-screen {
        padding: 10px;
    }
    #error-text, #joke-text {
        font-size: 1.5em; 
    }
}

@media (max-width: 480px) {
     #error-text, #joke-text {
        font-size: 1.2em; 
    }
}